<section>
<div class="container">
  <table  class="table  table-striped table-dark ">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Is Staff</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>brian polo</td>
        <td>brian@gmail.com</td>
        <td>1</td>
      </tr>
      <tr>
        <td>cristian</td>
        <td>cristian@gmail.com</td>
        <td>0</td>
      </tr>
      <tr>
        <td>gonzalo</td>
        <td>gonzalo@gmail.com</td>
        <td>1</td>
      </tr>
    </tbody>
  </table>
</div>
</section>